#menu_list {
    position: absolute;
    height: 40vh;
    width: 100%;
    top: 74px;
    left: -5000px;
    background-color: #616161;
    color: white;
    font-size: 2em;

    & ul {
        height: 100%;
        // border: 1px solid blue;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        list-style: none;

        & li {
            // border: 1px solid red;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 100;
            color: white;
            opacity: .87;
            align-self: stretch;
            text-align: center;
            font-size: 1.5rem;
        }

    }

}
